<!-- Heredamos de index -->
{% extends "base.html" %}

{% block content %}
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <div class="card shadow p-4">
                    <h3>Friendships</h3>
                    <table class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Friend</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for friend in friendships %}
                            <tr>
                                <td> {{ friend.user }} </td>
                                <td> {{ friend.friend }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="row mb-4">
                    <div class="card shadow p-4">
                        <h3>Add User</h3>
                            <form action="{{ url_for('user_create') }}" method="post">
                                <div class="form-group">
                                    <label for="name" class="form-label">First Name:</label>
                                    <input type="text" name="first_name" id="name" placeholder="Type name" class="form-control">
                                </div>
                                <div class="form-group mb-4">
                                    <lable for="last_name" class="form-label">Last Name:</lable>
                                    <input type="text" name="last_name" id="last_name" placeholder="Type last name" class="form-control">
                                </div>
                                <button class="btn btn-primary" type="submit">Add User</button>
                            </form>
                    </div>
                </div>
                <div class="row">
                    <div class="card shadow p-4">
                        <h3>Create Friendships</h3>
                        <form action="{{ url_for('friendship_create') }}" method="post">
                            <div class="form-group">
                                <label for="user" class="form-label">User:</label>
                                <select class="form-select" name="user_id" id="user">
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.first_name }} - {{ user.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-4">
                                <label for="friend" class="form-label">Friend:</label>
                                <select name="friend_id" id="friend" class="form-select sm">
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.first_name }} - {{ user.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}